#app2{}
#app2 .tab-bar{
    display:flex;
}#app2 .tab-bar>li{
     width: 25vw;
    border: 1px solid red;
}
#app2 .tab-content{}
#app2 .tab-bar >li.selected{
    background: red;
}
#app2 .tab-content >li.actions{
      display: block;
      background: rgba(179, 255, 60, 0.4);
  }
#app2 .tab-content >li{
    display: none;
}