#app3 .square {
    margin-left: 10px;
    margin-top: 14px;
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 1s;
}

#app3 .square.actions {
    transform: translateX(25vw);

}